{% extends 'base.html' %}
{% load static %}
{% block title %}
    About us
{% endblock %}

{% block page_content %}
    <div class="gtco-cover gtco-cover-sm"
         style="background-image: url({% static 'images/veliko-tarnovo-bulgaria-community-building-travel.jpg' %})"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container text-center">
            <div class="display-t">
                <div class="display-tc">
                    <h1>About us</h1>
                    <h2>Adventure Travel has been creating a travel experience since its establishment and is the
                        topmost trusted expert when it comes to adventure and tours in Bulgaria. The company has been
                        established in 2020 and possesses a wealth of experience and knowledge in the tourism industry.
                        Our wanderlust has been embracing passionate travel professionals that form the team of Travel
                        Adventure: a dedicated staff running the daily operations of our adventure. Our goal is for all
                        our experiences to be outstanding and marked with perfection, flexibility, and care for the
                        local people and environment.</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2>Our team</h2>
                    <p>Team info</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <div class="text-center">
                            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGiLoLUGtpOVQ/profile-displayphoto-shrink_200_200/0/1592357404249?e=1654128000&v=beta&t=VK-x6NyE6cRQ6X5pJREprw9uMin-B3uqSWUH6mb6Tyw"
                                 class="img-thumbnail" alt="...">
                        </div>
                        <h3>Name Last name</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                            provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <div class="text-center">
                            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGiLoLUGtpOVQ/profile-displayphoto-shrink_200_200/0/1592357404249?e=1654128000&v=beta&t=VK-x6NyE6cRQ6X5pJREprw9uMin-B3uqSWUH6mb6Tyw"
                                 class="img-thumbnail" alt="...">
                        </div>
                        <h3>Name Last name</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                            provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <div class="text-center">
                            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGiLoLUGtpOVQ/profile-displayphoto-shrink_200_200/0/1592357404249?e=1654128000&v=beta&t=VK-x6NyE6cRQ6X5pJREprw9uMin-B3uqSWUH6mb6Tyw"
                                 class="img-thumbnail" alt="...">
                        </div>
                        <h3>Name Last name</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                            provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}

