{% extends 'base.html' %}
{% load static %}

{% block title %}
    Verify Email Additional
{% endblock %}


{% block page_content %}
    <div class="gtco-cover gtco-cover-sm"
         style="background-image: url({% static 'images/img_4.jpg' %})"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container text-center">
            <div class="display-t">
                <div class="display-tc">
                    <h2>Additional email has been sent to your email address containing an activation link.</h2>
                    <h2>Please click on the link to activate your account.</h2>
                    <h2>If you fail to receive an activation email, click <a href="{% url 'contact' %}">here</a> to contact us and get further help from the Support Team</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}