{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact
{% endblock %}


{% block page_content %}
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
            style="background-image: url({% static 'images/img_4.jpg' %})">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="row row-mt-15em">

                        <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>Feel free to contact us at any time!</h1>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                        <h3>Get In Touch</h3>
                        <form method="post" action="{% url 'contact' %}">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block"
                                           value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 col-md-push-1 animate-box">

                        <div class="gtco-contact-info">
                            <h3>Contact Information</h3>
                            <ul>
                                <li class="address">Bulgaria, Sofia</li>
                                <li class="phone"><a href="tel://1234567920">+359 000 0001
                                </a></li>
                                <li class="email"><a href="mailto:info@yoursite.com">adventure.travel.app.team</a></li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}