{% extends 'base.html' %}
{% load static %}

{% block title %}
    Submit Contact
{% endblock %}


{% block page_content %}
    <div class="gtco-cover gtco-cover-sm"
         style="background-image: url({% static 'images/img_4.jpg' %})"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container text-center">
            <div class="display-t">
                <div class="display-tc">
                    <h2>Your message has been sent successfully.</h2>
                    <h2> You will receive a reply as soon as possible.</h2>

                </div>
            </div>
        </div>
    </div>
{% endblock %}